{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
    <h1>Funcionário Create or Update</h1>
    <div class='row'>
        <div class="col-12 col-md-6">
            <form method="post">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button type="submit" class="btn btn-info">Salvar</button>
            </form>
        </div>

        <div class="col-12 col-md-6">

            <div class="d-flex align-items-center mb-3">

                {% if object %}
                    <div class="mr-auto align-self-center">
                        <p class=""><strong>Lista de documentos</strong></p>
                    </div>
                    <div class=" align-self-center">
                        <a class="btn btn-secondary" href="{% url 'create_documento' object.id %}">Adicionar
                            documento</a>
                    </div>
                {% endif %}

            </div>

            {% for documento in object.documento_set.all %}
                <div class="d-flex bd-highlight border-bottom">
                    <div class="p-2 flex-grow-1 bd-highlight">Descrição: {{ documento.descricao }} </div>
                    <div class="p-2 bd-highlight"><a class="btn btn-info" href="{{ documento.arquivo.url }}">Ver
                        documento</a>
                    </div>
                </div>
            {% endfor %}

            <div class="d-flex align-items-center mb-3 mt-4">

                {% if object %}
                    <div class="mr-auto align-self-center">
                        <p class=""><strong>Lista de horas extras</strong></p>
                    </div>
                    <div class=" align-self-center">
                        <a class="btn btn-secondary" href="{% url 'create_hora_extra' %}">Adicionar hora extra</a>
                    </div>
                {% endif %}

            </div>

            <div class="row border-bottom">
                {% for hora_extra in object.registrohoraextra_set.all %}
                    <div class="col-12 col-md-7 mt-2 border-bottom mb-2">
                        <p><strong>Motivo:</strong> {{ hora_extra.motivo }} </p>
                    </div>
                    <div class="col-12 col-md-3 mt-2 border-bottom mb-2">
                        <p><strong>Horas:</strong> {{ hora_extra.horas }} </p>
                    </div>
                    <div class="col-12 col-md-2 border-bottom mb-2">
                        <a href="{% url 'update_hora_extra' hora_extra.id %}" class="btn btn-info">Editar</a>
                    </div>
                {% endfor %}

                <div class="col-12 d-flex justify-content-end">
                    <h3 class="mt-2">Total de horas extras: {{ object.total_horas_extras }}</h3>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
